<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="GreenCitySuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
    <test name="UITests">
        <classes>
            <class name="com.greencity.ui.testrunners.BaseTestRunner"/>
            <class name="com.greencity.ui.testrunners.TestRunnerWithUser"/>
            <class name="com.greencity.ui.CancelEditingTest"/>
            <class name="com.greencity.ui.AuthorCanEditNewsTest"/>
            <class name="com.greencity.ui.CheckingTagSelectionTest"/>
            <class name="com.greencity.ui.EcoNewsSectionDisplayedUnregisteredUserTest"/>
            <class name="com.greencity.ui.EditButtonVisibilityTest"/>
            <class name="com.greencity.ui.NavigateEcoNewsPageAndLayoutTest"/>
            <class name="com.greencity.ui.SourceFieldValidationTest"/>
        </classes>
    </test>
</suite>